.newsletter-container{
    display: flex;
    width: 90%;
    margin: 0 auto;
    background-color: #334F7D;
    color: #fff;
    font-family: Barlow;
    padding:2rem;
}
.newsletter-text-holder{
    margin-left: 1.5rem;
}
.inner-newsletter-flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.flex-item-newsletter{
 width: 50%;
}

@media (min-width: 992px){

}