body {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  background-color: #1c1d1a;
  height: auto;
  color: #fff;
}
.layout {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
a{
  text-decoration: none !important;
}

#main-home-bg {
  background-image: url(../assets/images/homepage-mobile-skin.svg);
}

#main-contact-bg {
  background-image: url(../assets/images/contact-us-mobile-skin.svg);
}
#main-vat-bg {
  background-image: url(../assets/images/local-vat-mobile-skin.svg);
  background-position: top center;
  background-size: auto;
}
#main-help-bg {
  background-image: url(../assets/images/help-center-mobile-skin.svg);
  height: 13.0625rem;
}
#main-home-bg main {
  margin-top: 1rem;
}
#main-term-bg {
  background-image: url(../assets/images//terms-of-use-mobile.svg);
  height: 19.0625rem;
}
.screen {
  width: 153px;
  height: 311px;
}
@media (min-width: 992px) {
  #main-home-bg {
    background-image: url(../assets/images/homepage-desktop-skin.svg);
  }
  #main-home-bg main {
    margin-top: 0;
  }

  #main-contact-bg {
    background-image: url(../assets/images/contact-us-desktop-skin.svg);
  }
  #main-local-vat-rules-bg {
    background-image: url(../assets/images/local-vat-desktop-skin.svg);
  }
  #main-help-bg {
    background-image: url(../assets/images/help-center-desktop-skin.svg);
    height: 29.0625rem;
    background-position: 50% 20%;
  }
  #main-term-bg {
    background-image: url(../assets/images/terms-of-use-desktop.svg);
    height: 32.0625rem;
  }
  .screen {
    width: 264px;
    height: 573px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 2.875rem;
    padding-right: 2.875rem;
  }
}
@media (min-width: 1200px) {
  .container-lg {
    max-width: 1264px;
  }
}
.sm-logo img {
  height: 1.25rem;
}
