
.label {
  text-transform: initial;
  font-size: 1rem;
  font-family: Barlow;
  font-style: normal;
  text-transform: initial;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
}

.label:hover {
  color: #4f88c7;
}
.label:visited {
  color: #4f88c7;
}
.fontpaddingfornavbar {
  text-transform: capitalize;
  font-size: 16px;
  font-family: Barlow;
  font-weight: normal;
  line-height: 19px;
  color: #6e6e6e;
  font-style: normal;
  margin-right: 40px;
  cursor: pointer;
  display: block;
  
}



/*Large Screen Size*/
@media screen and (max-width: 1200px) {
  .fontpaddingfornavbar {
    padding-right: 25px;
    font-size: 15px;
  }
}
.centralizedwelcome {
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-family: Barlow;
  align-items: center;
  height: 5vh;
}
/* Small Screen Size*/
@media screen and (max-width: 576px) {
  .centralizedwelcome {
    display: block;
  }
}
